@font-face {
  font-family: 'fontello';
  src: url('fonts/Font-Awesome/font/fontello9f16.eot?96103027');
  src: url('fonts/Font-Awesome/font/fontello9f16.eot?96103027#iefix') format('embedded-opentype'),
       url('fonts/Font-Awesome/font/fontello9f16.woff2?96103027') format('woff2'),
       url('fonts/Font-Awesome/font/fontello9f16.woff?96103027') format('woff'),
       url('fonts/Font-Awesome/font/fontello9f16.ttf?96103027') format('truetype'),
       url('fonts/Font-Awesome/font/fontello9f16.svg?96103027#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?96103027#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-x-twitter:before { content: '\e800'; } /* '' */
.icon-mastodon:before { content: '\e801'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
pre {overflow-x: auto !important} code {overflow-x: auto !important} html {background: #fff !important} .row-fluid .span9 {width:100% !important} #toTop {display:none !important} .headsup {display:none !important} #layout-content {width:100% !important; margin:0px !important} .refsect1 .parameter {cursor:auto !important} #breadcrumbs { border: 1px solid !important; margin-bottom:0.85714285714286em !important; background: #f2f2f2 !important;border-color: #e0e0e0 !important;border-bottom-color: #d9d9d9 !important;border-radius: 2px !important; } body {background: white !important; margin:0px !important} #layout-content {border:none !important; padding:0px !important;} #breadcrumbs ul {margin:0px !important;} #layout {margin:0 !important; width:100% !important; padding:0 !important} #breadcrumbs ul {padding-left:.7em !important} h2.title {margin-top:17px} #usernotes .note .name {margin-left:0px !important} #breadcrumbs {position:static} .sect1 {margin-top:-17px !important} body {padding: 20px;} .navbar-fixed-top {display:none !important} #content {margin-left:0px !important} #breadcrumbs #breadcrumbs-inner {margin: 0 !important} .layout-content {margin-left:0px !important} html {color: #333} #breadcrumbs { padding-bottom:0.55rem !important} #usernotes{margin-left:0px !important} #layout-content {background:transparent !important} a:link, a:visited {color:#369}